# Importing Necesseties

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('C:\\Users\\Dell\\Desktop\\Project_JobInTech\\Digital_factory_project\\01-Regroupe base 18-19 anonymat (S1, S2) V04012021.xlsx')

In [173]:
df.head(30)

,N°,Nom étudiant,Niveau,Cycle,Filière,Etablissement,College,Moyenne S1,Moyenne S2,Moyenne,...,Boursier,Mapp Jury,CSP Père,CSP Mère,Lycée origine,Système d'études,Région,Ville,Nb absences,Diplômés
0,1,NNN1,2ème année,Master,G2I,SC. Po,HSPJS,NaN,NaN,NaN,...,NaN,Non admis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NNN2,2ème année,Master,CIT,RBS,Management,11.306667,NaN,NaN,...,NaN,Admis,NaN,NaN,EL HASSANIA,Privé,Rabat-Salé-Kénitra,Rabat,NaN,NaN
2,3,NNN3,1ère année,Master,SCM,RBS,Management,13.267333,8.875,11.071167,...,NaN,Non admis,Fonctionnaire,Fonctionnaire,E. Ryad El Maârifa,Public,Rabat-Salé-Kénitra,RABAT,NaN,NaN
3,4,NNN4,5ème année,Ingénieur,CI,ECINE,IA,14.874,15.2,15.037,...,NaN,Admis,NaN,NaN,Ecole Madina,Privé,Casablanca-Settat,Casablanca,NaN,Oui
4,5,NNN5,2ème année,Master,MRH,RBS,Management,12.315,14.4,13.3575,...,NaN,Admis,NaN,NaN,INSTITUT ATTAOUFIK,Privé,Fès-Meknès,Fès,NaN,Oui
5,6,NNN6,1ère année,Master,SCM,RBS,Management,17.024,17.25,17.137,...,NaN,Admis,Retraité,Sans emploi,Ibn Khatib,Privé,Tanger-Tétouan-Al Hoceïma,TANGER,NaN,NaN
6,7,NNN7,2ème année,Master,MKG,RBS,Management,NaN,NaN,NaN,...,NaN,Admis,NaN,NaN,Lycée Descartes,Privé,Rabat-Salé-Kénitra,Rabat,NaN,NaN
7,8,NNN8,2ème année,Master,DAF,IEPJ,HSPJS,12.45,12.19,12.32,...,NaN,Admis,NaN,NaN,Lycée Malraux,Public,Rabat-Salé-Kénitra,Rabat,NaN,Oui
8,9,NNN9,1ère année,Master,CIT,RBS,Management,15.221667,13.569667,14.395667,...,NaN,Admis,Fonctionnaire,Sans emploi,L.Scientifique Privé,Privé,Rabat-Salé-Kénitra,Rabat,24.0,NaN
9,10,NNN10,2ème année,Master,SCM,RBS,Management,11.93,16.1,14.015,...,NaN,Admis,NaN,NaN,Institut Kounouz,Privé,Fès-Meknès,Fès,NaN,Oui
10,11,NNN11,4ème année,Ingénieur,CI,FIL,IA,ABS,ABS,ABS,...,NaN,Année blanche,Retraité,Fonctionnaire,Abdelmalek ESSAADI,Public,Rabat-Salé-Kénitra,KENITRA,NaN,NaN
11,12,NNN12,5ème année,Architecte,ARCHI,ARCHI,IA,13.2375,11.014286,12.125893,...,NaN,Non admis,Profession libérale,Fonctionnaire,Groupe Scolaire ATLAS,Privé,Rabat-Salé-Kénitra,Rabat,NaN,NaN
12,13,NNN13,5ème année,Architecte,ARCHI,ARCHI,IA,12.345,11.557143,11.951071,...,NaN,Admis,Employé,Fonctionnaire,Groupe Scolaire El Hassania,Privé,Rabat-Salé-Kénitra,Rabat,16.0,NaN
13,14,NNN14,2ème année,Master,CIT,RBS,Management,12.74,11.9,12.32,...,NaN,Admis,NaN,NaN,L Henry Le Grand,Privé,Rabat-Salé-Kénitra,Rabat,NaN,Oui
14,15,NNN15,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,18,...,NaN,Admis,NaN,NaN,Groupe scolaire High Tech,Privé,Rabat-Salé-Kénitra,Salé,NaN,Oui
15,16,NNN16,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,17,...,NaN,Admis,NaN,NaN,Groupe Scolaire ALMAJD,Privé,Rabat-Salé-Kénitra,Kénitra,NaN,Oui
16,17,NNN17,5ème année,Architecte,ARCHI,ARCHI,IA,12.7825,13.035714,12.909107,...,NaN,Admis,Profession libérale,Commerçant,Groupe Scolaire TAZOTA,Privé,Casablanca-Settat,El Jadida,20.0,NaN
17,18,NNN18,5ème année,Architecte,ARCHI,ARCHI,IA,12.325,12.407143,12.366071,...,NaN,Admis,Fonctionnaire,Fonctionnaire,IPEP ATTAOUFIK,Public,Fès-Meknès,Fès,49.0,NaN
18,19,NNN19,5ème année,Architecte,ARCHI,ARCHI,IA,12.13,11.685714,11.907857,...,NaN,Admis,Chef d'Ese,Sans emploi,Groupe Scolaire AZZAYTOUNA,Privé,Casablanca-Settat,El Jadida,62.0,NaN
19,20,NNN20,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,17.5,...,NaN,Admis,NaN,NaN,jabrane khalil jabrane,Privé,Rabat-Salé-Kénitra,Rabat,NaN,Oui
20,21,NNN21,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,17.5,...,NaN,Admis,NaN,NaN,Lycée ESSAADA,Public,Fès-Meknès,Taza,NaN,Oui
21,22,NNN22,2ème année,Master,CIT,RBS,Management,13.873333,14.2,14.036667,...,NaN,Admis,NaN,NaN,GS Benniss Et Terrab,Privé,Rabat-Salé-Kénitra,Kenitra,NaN,Oui
22,23,NNN23,5ème année,Architecte,ARCHI,ARCHI,IA,11.26875,11.535714,11.402232,...,NaN,Admis,Profession libérale,Profession libérale,Lycée Français d´Agadir,Privé,Souss - Massa - Drâa,Agadir,31.0,NaN
23,24,NNN24,5ème année,Architecte,ARCHI,ARCHI,IA,13.0875,11.342857,12.215179,...,NaN,Admis,Profession libérale,Fonctionnaire,AL AZHAR PRIVE,Privé,Casablanca-Settat,Casablanca,37.0,NaN
24,25,NNN25,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,12.75,...,Oui,Admis,NaN,NaN,MECHOUAR DE CASABLANCA,Public,Rabat-Salé-Kénitra,Rabat,NaN,Oui
25,26,NNN26,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,16,...,NaN,Admis,NaN,NaN,AL IMAM AL BOUKHARI,Public,Casablanca-Settat,Casablanca,NaN,Oui
26,27,NNN27,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,15,...,Oui,Admis,NaN,NaN,Institut Nour 2,Privé,Casablanca-Settat,Casablanca,NaN,Oui
27,28,NNN28,1ère année,Master,CIT,RBS,Management,13.037667,11.276333,12.157,...,NaN,Admis,NaN,NaN,NaN,NaN,Rabat-Salé-Kénitra,Rabat,NaN,NaN
28,29,NNN29,6ème année,Architecte,ARCHI,ARCHI,IA,0,0,16.5,...,NaN,Admis,NaN,NaN,Al Hanane,Privé,Souss - Massa - Drâa,Agadir,NaN,Oui
29,30,NNN30,5ème année,Architecte,ARCHI,ARCHI,IA,12.328125,11.3,11.814063,...,NaN,Admis,Fonctionnaire,Retraité,Al Hanane,Privé,Souss - Massa - Drâa,Agadir,43.0,NaN

# EDA + PRE-Proccessing

In [3]:
df.shape

(4007, 38)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   N°                        4007 non-null   int64
 1   Nom étudiant              4006 non-null   object
 2   Niveau                    4006 non-null   object
 3   Cycle                     4007 non-null   object
 4   Filière                   4007 non-null   object
 5   Etablissement             4007 non-null   object
 6   College                   4007 non-null   object
 7   Moyenne S1                3936 non-null   object
 8   Moyenne S2                3948 non-null   object
 9   Moyenne                   3953 non-null   object
 10  Decision jury             4007 non-null   object
 11  Tranche                   3726 non-null   object
 12  Classement                0 non-null      float64
 13  Sexe                      4007 non-null   object
 14  Nationalité               3934 non-null   object
 15  Date de naissance         3938 non-null   object
 16  Série bac                 3917 non-null   object
 17  Mention bac               3875 non-null   object
 18  Moyenne bac               3111 non-null   object
 19  Année bac                 3939 non-null   object
 20  Niveau accès UIR          3903 non-null   object
 21  Date inscription UIR      3981 non-null   object
 22  Mapp année bac            3939 non-null   float64
 23  Mapp série bac (option)   3917 non-null   object
 24  Mapp série bac            3917 non-null   object
 25  Mapp série bac (domaine)  3917 non-null   object
 26  Mapp niveau acces         3856 non-null   object
 27  Mapp année UIR            3981 non-null   float64
 28  Boursier                  1047 non-null   object
 29  Mapp Jury                 4007 non-null   object
 30  CSP Père                  3134 non-null   object
 31  CSP Mère                  3123 non-null   object
 32  Lycée origine             3674 non-null   object
 33  Système d'études          3674 non-null   object
 34  Région                    3873 non-null   object
 35  Ville                     3873 non-null   object
 36  Nb absences               2153 non-null   float64
 37  Diplômés                  650 non-null    object
dtypes: float64(4), int64(1), object(33)
memory usage: 1.2+ MB

In [5]:
df.describe()

                N°  Classement  Mapp année bac  Mapp année UIR  Nb absences
count  4007.000000         0.0     3939.000000     3981.000000  2153.000000
mean   2004.000000         NaN     2015.678091     2016.734991    25.628425
std    1156.865593         NaN        2.014915        1.286518    28.938811
min       1.000000         NaN     2000.000000     2011.000000     1.000000
25%    1002.500000         NaN     2014.000000     2016.000000     8.000000
50%    2004.000000         NaN     2016.000000     2017.000000    16.000000
75%    3005.500000         NaN     2017.000000     2018.000000    33.000000
max    4007.000000         NaN     2018.000000     2018.000000   301.000000

In [3]:
df.columns

Index(['N°', 'Nom étudiant', 'Niveau', 'Cycle', 'Filière', 'Etablissement',
       'College', 'Moyenne S1', 'Moyenne S2', 'Moyenne', 'Decision jury',
       'Tranche', 'Classement', 'Sexe', 'Nationalité', 'Date de naissance',
       'Série bac', 'Mention bac', 'Moyenne bac', 'Année bac',
       'Niveau accès UIR', 'Date inscription UIR', 'Mapp année bac',
       'Mapp série bac (option)', 'Mapp série bac', 'Mapp série bac (domaine)',
       'Mapp niveau acces', 'Mapp année UIR', 'Boursier', 'Mapp Jury',
       'CSP Père', 'CSP Mère', 'Lycée origine', 'Système d'études', 'Région',
       'Ville', 'Nb absences', 'Diplômés'],
      dtype='object')

In [4]:
df.isnull().sum()

N°                             0
Nom étudiant                   1
Niveau                         1
Cycle                          0
Filière                        0
Etablissement                  0
College                        0
Moyenne S1                    71
Moyenne S2                    59
Moyenne                       54
Decision jury                  0
Tranche                      281
Classement                  4007
Sexe                           0
Nationalité                   73
Date de naissance             69
Série bac                     90
Mention bac                  132
Moyenne bac                  896
Année bac                     68
Niveau accès UIR             104
Date inscription UIR          26
Mapp année bac                68
Mapp série bac (option)       90
Mapp série bac                90
Mapp série bac (domaine)      90
Mapp niveau acces            151
Mapp année UIR                26
Boursier                    2960
Mapp Jury                      0
CSP Père                     873
CSP Mère                     884
Lycée origine                333
Système d'études             333
Région                       134
Ville                        134
Nb absences                 1854
Diplômés                    3357
dtype: int64

In [5]:
cdf = df.copy()

In [6]:
unique_nationalities = cdf['Nationalité'].unique()
print(unique_nationalities)

[nan 'Marocaine' 'MA' 'MAROCAINE' 'Camerounaise' 'TN' 'FR' 'Gabonnaise'
 'Marocaine/Américaine' 'Française' 'CONGO' 'TD' 'USA' 'Congo' 'GA'
 'Riyad Saudi arabia' "Côte D'ivoire" 'CI' 'Sénégal' 'Tunisienne'
 'Malgache']

In [7]:
unique_nationalities = cdf['Nationalité'].value_counts()
print(unique_nationalities)

MA                      2584
Marocaine               1316
MAROCAINE                  9
FR                         8
Congo                      2
Tunisienne                 1
Sénégal                    1
CI                         1
Côte D'ivoire              1
Riyad Saudi arabia         1
GA                         1
TD                         1
USA                        1
CONGO                      1
Française                  1
Marocaine/Américaine       1
Gabonnaise                 1
TN                         1
Camerounaise               1
Malgache                   1
Name: Nationalité, dtype: int64

In [8]:
cdf['Nationalité'] = cdf['Nationalité'].replace(['Marocaine','MA', 'MAROCAINE', 'ci','TN','FR','GA','USA','TD','CONGO','Sénégal','Riyad Saudi arabia',"Côte D'ivoire",'CI'], ['Marocain(e)','Marocain(e)', 'Marocain(e)', 'Ivoirien','Tunisienne','Française','Gabonnaise','Américaine','Tchadiens','Congolais(e)','Sénégalais(e)'," l'Arabie saoudite",'Ivoirien','Ivoirien'])
cdf['Nationalité'].head(20)

0             NaN
1     Marocain(e)
2     Marocain(e)
3     Marocain(e)
4     Marocain(e)
5     Marocain(e)
6     Marocain(e)
7     Marocain(e)
8     Marocain(e)
9     Marocain(e)
10    Marocain(e)
11    Marocain(e)
12    Marocain(e)
13    Marocain(e)
14    Marocain(e)
15    Marocain(e)
16    Marocain(e)
17    Marocain(e)
18    Marocain(e)
19    Marocain(e)
Name: Nationalité, dtype: object

In [9]:
cdf['Nationalité'] = cdf.apply(lambda row: 'Marocaine' if row['Sexe'] == 'F' and row['Nationalité'] == 'Marocain(e)' else
                            'Marocain' if row['Sexe'] == 'M' and row['Nationalité'] == 'Marocain(e)' else
                            row['Nationalité'], axis=1)
cdf['Nationalité'].head(20)

0           NaN
1      Marocain
2      Marocain
3      Marocain
4     Marocaine
5     Marocaine
6     Marocaine
7      Marocain
8      Marocain
9     Marocaine
10     Marocain
11     Marocain
12    Marocaine
13     Marocain
14     Marocain
15     Marocain
16     Marocain
17     Marocain
18     Marocain
19     Marocain
Name: Nationalité, dtype: object

In [10]:
cdf = cdf.drop(columns=['Classement', 'Série bac', 'Année bac', 'Niveau accès UIR', 'Date inscription UIR'])

In [11]:
cdf = cdf.rename(columns={
    'Mapp année bac': 'Année bac',
    'Mapp série bac (option)': 'Option bac',
    'Mapp série bac': 'Série bac',
    'Mapp série bac (domaine)': 'Domaine bac',
    'Mapp niveau acces': 'Niveau accès UIR',
    'Mapp année UIR': 'Date inscription UIR',
    'Mapp Jury': 'Decision jury',
    'Decision jury': 'Decision jury detailed'
})

In [12]:
cdf['Date inscription UIR'] = cdf['Date inscription UIR'].apply(lambda x: 
    str(int(x)) + '/' + str(int(x) + 1) if isinstance(x, (int, float)) and not pd.isna(x) else 
    x if isinstance(x, str) and '-' in x else 
    str(int(x[:4])) + '/' + str(int(x[:4]) + 1) if isinstance(x, str) and len(x) == 4 else 
    x)

cdf['Année bac'] = cdf['Année bac'].apply(lambda x: 
    str(int(x)) + '/' + str(int(x) + 1) if isinstance(x, (int, float)) and not pd.isna(x) else 
    x)

In [13]:
print(cdf['Date inscription UIR'])
print(cdf['Année bac'])

0             NaN
1       2016/2017
2       2018/2019
3       2014/2015
4       2017/2018
          ...
4002          NaN
4003          NaN
4004          NaN
4005    2014/2015
4006    2014/2015
Name: Date inscription UIR, Length: 4007, dtype: object
0             NaN
1       2011/2012
2       2011/2012
3       2012/2013
4       2012/2013
          ...
4002          NaN
4003          NaN
4004          NaN
4005    2014/2015
4006    2014/2015
Name: Année bac, Length: 4007, dtype: object

In [14]:
Mention_bac = cdf['Mention bac'].unique()
print(Mention_bac)

[nan 'Assez Bien' 'Bien' 'Passable' 'Très Bien' 'PASSABLE' 'A BIEN'
 'TRES BIEN' '-' 'Très bien' 'Assez bien' 'BIEN' 'bien' 'passable'
 'assez bien' 'très bien' 'A-BIEN' '14,12' 'Tres bien']

In [15]:
Mention_bac = cdf['Mention bac'].value_counts()
print(Mention_bac)

Bien          1259
Assez Bien     784
Passable       677
Très Bien      403
Assez bien     336
Très bien      251
bien            40
PASSABLE        31
assez bien      25
A BIEN          20
passable        18
très bien       13
BIEN             8
-                3
A-BIEN           3
TRES BIEN        2
14,12            1
Tres bien        1
Name: Mention bac, dtype: int64

In [16]:
cdf['Mention bac'] = cdf['Mention bac'].replace(['Assez bien','Très bien','bien','PASSABLE','assez bien','A BIEN','passable','très bien','BIEN','A-BIEN','TRES BIEN','14,12','Tres bien','-'], ['Assez Bien','Très Bien','Bien','Passable','Assez Bien','Bien','Passable','Très Bien','Bien','Bien','Très Bien','Bien','Très Bien','Null'])
Mention_bac = cdf['Mention bac'].value_counts()
print(Mention_bac)

Bien          1331
Assez Bien    1145
Passable       726
Très Bien      670
Null             3
Name: Mention bac, dtype: int64

In [17]:
Niveau_accès_UIR = cdf['Niveau accès UIR'].unique()
print(Niveau_accès_UIR)

[nan 'Licence' 'Baccalauréat' 'Bac+2' 'Bac+3' 'Bac+1']

In [18]:
Niveau_accès_UIR = cdf['Niveau accès UIR'].value_counts()
print(Niveau_accès_UIR)

Baccalauréat    3095
Licence          669
Bac+2             38
Bac+1             34
Bac+3             20
Name: Niveau accès UIR, dtype: int64

In [193]:
#cdf['Niveau accès UIR'] = cdf['Niveau accès UIR'].replace(['Licence','baccalauréat','licence','Baccaluaréat','Baccaluréat','BAC+1','Baccalauréat+1','Baccalauréat +1','Baccalauréat+2','BAC +2/ CPGE','BAC+2','Bac +3','BAC+2 ENSAM','BAC+2 CPGE IBN GHAZI','BAC+2 CPGE UIR'], ['Bac+3','Baccalauréat','Bac+3','Baccalauréat','Baccalauréat','Bac+1','Bac+1','Bac+1','Bac+2','Bac+2','Bac+2','Bac+3','Bac+2','Bac+2','Bac+2'])
#Niveau_accès_UIR = cdf['Niveau accès UIR'].value_counts()
#print(Niveau_accès_UIR)

In [19]:
Decision_jury = cdf['Decision jury'].unique()
print(Decision_jury)

['Non admis' 'Admis' 'Année blanche' 'Abandon' 'Exclu' 'Réorienté']

In [20]:
Decision_jury = cdf['Decision jury detailed'].unique()
print(Decision_jury)

['Mobilité' 'Différé(e)' 'Ajourné' 'Diplomé' 'Admis(e)'
 'Admis en deuxième année' 'Diplômé ( e )' 'Année Blanche' 'Fail'
 'Admis en 6ème année' 'Diplômé' 'Diplômée' 'PASS'
 'Admis en 6ème année avec félicitation du jury'
 'Admis en M2 avec reliquats' 'Admis en 1ère session mention bien'
 "Non admis. Doit refaire l'atelier du S10 en Automne 2019/2020" 'CPR'
 'Admis' 'Admis ( e )' 'Admis en 6ème année  (S10 mobilité en Inde)'
 'PASS WITH INDULGENCE' 'En attente'
 'Admis en M2 avec reliquats, Atelier de projet S7 en conditionnel'
 'Admis en 2ème session mention passable'
 'Admis en 1ère session mention Très bien' 'mobilité' 'Abandon' 'Pass'
 'Redoublant' 'Pass with honors' 'Admis en année supérieure'
 "En mobilité double diplôme à l'Ecole Européenne d'Ingénieurs en Génie des Matériaux Diplomé"
 "En mobilité double diplôme à l'Ecole Européenne d'Ingénieurs en Génie des Matériaux  Diplomé"
 'Passage conditionnel (un module à valider N+1 )' 'Admis en M2'
 'Admis en M2 par compensation' 'Admis (semestre 6 validé en 2017-2018)'
 'Admis en M2 avec reliquats (Mobilté à Parme)'
 'Admis en M2  (Mobilité à Parme)'
 'Admis en 6ème année  (S10 mobilité (Lubeck), Allemagne)' 'Non admise'
 'Admis en M2 (Mobilité à Bologne)' 'Autorisé à redoubler'
 'Passage conditionnel (2 modules à valider N+1 )' 'APR' 'FAIL'
 'PASS WITH HONORS'
 'en attente des resultats -\npour une année universitaire'
 'Année blanche' 'en attente des resultats-\npour une année universitaire'
 'Admis (e)' 'Admis en 2ème session mention très bien' 'ADM' 'AJ'
 'En mobilité double diplôme à l’École Nationale Supérieure d’Electricité et de Mécanique'
 "En mobilité double diplôme à l'Ecole Européenne d'Ingénieurs en Génie des Matériaux"
 'Admis en année supérieure avec indulgence de jury' 'Admise'
 'Admis en 1ère session mention assez bien' 'En cours' 'Diplômé (e)'
 'Admis en 2ème session mention assez bien' 'Annéé blanche'
 'Diplomé(e)avec indulgence du jury'
 'Admis en M2 avec reliquats (Mobilté à Strasbourg)'
 'Admis en M2 avec félicitation du jury'
 'Admise (semestre 5 validé en 2017-2018)'
 'Admis en M2 avec reliquats (Mobilté à Paris la Villette)'
 'Admis en M2  (Mobilté à Montpelier)'
 'Admis en M2  (Mobilité à Montpelier)'
 'Admis en M2  (S7 Mobilté à Marseille)' 'Non admis'
 'Admis par compensation' 'Admis avec reliquat S2'
 'Admis (semestre 5 validé en 2017-2018)' 'Admise  par compensation'
 'Admis en 1ère session mention très bien' 'Non Admis'
 'Admis en 2ème session mention bien'
 'Admis en 1ère  session mention passable' 'Admis avec reliquat S4'
 'Décision Differé (e)' 'Admis en Licence2 par compensation'
 'Admise par compensation' 'Admise  avec les félicitations du jury'
 'Abondan' 'Admis  par compensation' 'Non Admise'
 'Admis avec les félicitations du jury'
 'Admis  avec les félicitations du jury'
 'Admise avec les félicitations du jury'
 'Admis en 1ère session mention passable'
 'Admis avec reliquat S2 + S4 (dont Atelier)' 'Admise en 3ème année'
 'Non admis en 3ème année' 'Abondon' 'Non admise (S4 : semestre blanc)'
 'Admis en année supérieure  avec indulgence du jury' 'RYR'
 'Admis en 2ème session mention passable en simple diplôme'
 'Admis avec reliquat S3 + S4' 'Année de césure' 'Admise avec reliquat S4'
 'Admis avec reliquat S3' 'Admis en licence 2 par compensation'
 'admis en année supérieure avec indulgence du jury'
 'Admise avec reliquat S1 + S3' 'Admise avec les félicitations du jury.'
 'Admise avec reliquat S4 (Atelier)'
 'Admis en 1ère  session mention assez bien'
 'Admise avec reliquat S3 (dont Atelier)'
 'Admise avec reliquat S3 (Atelier) + S4' 'Admis en Licence 2' 'réorienté'
 'Admise avec reliquat S3' 'admis en année supérieure'
 'Admise avec reliquat S4 (dont Atelier)'
 'Admis en 2ème  session mention assez bien'
 'Admise avec reliquat S1 + S2 + S4'
 'Admise avec reliquat S2 + S4 (Atelier)' 'Redoublant ( e )'
 'Admis avec reliquat S3 (dont Atelier)'
 'Admis avec les félicitations du jury.'
 'Admise en 3ème année avec reliquat'
 'Admis avec reliquat S3 (dont Atelier) + S4 (dont Atelier)'
 'Admise avec reliquat S3 (Atelier)' 'Redoublement'
 'Admis en Licence 2 par compensation'
 'Admis en Licence 2 avec reliquats licence 1'
 'Admise avec reliquat S1 + S2'
 'Admise avec reliquat S3 (dont Atelier) + S4 (dont Atelier)'
 'Admis en Licence 2 avec reliquats licence 1 (atelier S2)'
 'Admis avec reliquat S3 + S4 (dont Atelier)' 'NPR'
 'Autorisée à redoubler' 'Admise avec reliquat S1 + S3 (dont Atelier)'
 'Admise avec reliquat S2' 'Admis en 2ème  session mention passable'
 'Admis avec reliquat S3 (Atelier)'
 'Admis avec reliquat S3 (dont Atelier) + S4 (Atelier)'
 'Non Admis / S2: semestre blanc' 'RPP' 'Décision différée' 'Exclusion'
 'Admis en licence 2 avec félicitations du jury' 'Redoublant ( e)'
 'ABONDON' 'Admis en 1ère  session mention très bien' 'Désistement'
 'Admis en 1ère  session mention bien'
 'Admis en 2 ème session mention passable'
 'Admis en Licence 2 avec reliquats licence 1 (atelier S1)'
 'Admis en Licence 2 avec reliquats licence 1 \n(ateliers S1+S2)'
 'Admise (ECHANGE ENTRANT)' 'Admis ' 'Admis (mobilité)'
 'Admis en 2ème  session mention bien' 'Admis en M2 (ECHANGE ENTRANT)'
 'exchange student from ESTACA\n(1 Module non validé)'
 'exchange student from ESTACA (PASS)']

In [21]:
Decision_jury = cdf['Decision jury detailed'].value_counts()
Decision_jury.head(50)

ADM                                                              519
APR                                                              383
PASS                                                             354
Admis en deuxième année                                          263
Admis                                                            256
Admis ( e )                                                      218
Admis(e)                                                         199
Admis en année supérieure                                        175
Admise                                                           112
Diplômé (e)                                                      102
Admis en 6ème année                                               82
Admis en Licence 2                                                80
Diplômé ( e )                                                     77
Admis (e)                                                         70
Diplomé                                                           62
admis en année supérieure                                         59
CPR                                                               59
PASS WITH INDULGENCE                                              56
Admis en M2                                                       56
Non Admis                                                         34
FAIL                                                              34
AJ                                                                33
Admis en Licence 2 avec reliquats licence 1                       33
PASS WITH HONORS                                                  32
Diplômée                                                          29
Diplômé                                                           29
Différé(e)                                                        26
Admis en 2ème session mention passable                            22
Admis                                                             21
Admis en 1ère session mention bien                                21
Admis en 1ère session mention assez bien                          21
Redoublant ( e)                                                   19
Admis en 2ème  session mention assez bien                         19
Non admis                                                         19
Admis en M2 avec reliquats                                        18
Admis en 2ème session mention assez bien                          17
RYR                                                               17
réorienté                                                         15
Redoublant                                                        15
Admise par compensation                                           13
Abandon                                                           13
Non admis. Doit refaire l'atelier du S10 en Automne 2019/2020     11
Ajourné                                                           10
Admis en licence 2 avec félicitations du jury                     10
Non admise                                                        10
Admis en 6ème année avec félicitation du jury                     10
Diplomé(e)avec indulgence du jury                                  9
Admis en M2 par compensation                                       9
Admis en 2ème  session mention passable                            9
Décision Differé (e)                                               8
Name: Decision jury detailed, dtype: int64

In [22]:
# Remplacements des différentes variations par des valeurs standardisées
decision_replacements = {
    'ABONDON': 'Abandon',
    'Abondan': 'Abandon',
    'Abondon': 'Abandon',
    'ADM': 'Admis(e)',
    'APR': 'Admis(e)',
    'CPR': 'Admis(e)',
    'PASS': 'Admis(e)',
    'Pass': 'Admis(e)',
    'AJ': 'Ajourné',
    'Année blanche': 'Année Blanche',
    'Annéé blanche': 'Année Blanche',
    'Année de césure': 'Année de césure',
    'Autorisé à redoubler': 'Redoublant(e)',
    'Autorisée à redoubler': 'Redoublant(e)',
    'RPP': 'Redoublant(e)',
    'RYR': 'Redoublant(e)',
    'Redoublant ( e )': 'Redoublant(e)',
    'Redoublant ( e)': 'Redoublant(e)',
    'Redoublement': 'Redoublant(e)',
    'Différé' : 'Différé(e)',
    'Différé(e)': 'Différé(e)',
    'Décision Differé (e)': 'Différé(e)',
    'Décision différée': 'Différé(e)',
    'Admis ( e )': 'Admis(e)',
    'Admis':'Admis(e)',
    'Admise' : 'Admis(e)',
    'Admis en M2' : 'Admis en deuxième anné',
    
    'Diplomé': 'Diplômé(e)',
    'Diplômé': 'Diplômé(e)',
    'Diplômé ( e )': 'Diplômé(e)',
    'Diplômé (e)': 'Diplômé(e)',
    'Diplômée': 'Diplômé(e)',

    'Désistement': 'Désistement',
    'En attente': 'En attente',
    'En cours': 'En cours',
    'En mobilité double diplôme à l\'Ecole Européenne d\'Ingénieurs en Génie des Matériaux': 'En mobilité',
    'En mobilité double diplôme à l\'Ecole Européenne d\'Ingénieurs en Génie des Matériaux  Diplomé': 'En mobilité',
    'En mobilité double diplôme à l\'Ecole Européenne d\'Ingénieurs en Génie des Matériaux Diplomé': 'En mobilité',
    'En mobilité double diplôme à l’École Nationale Supérieure d’Electricité et de Mécanique': 'En mobilité',
    'Exclusion': 'Exclusion',
    'FAIL': 'Échec',
    'Fail': 'Échec',
    'Mobilité': 'En mobilité',
    'NPR': 'Non pris en compte',
    'Non admis': 'Non admis',
    'Admis' : 'Admis(e)',
    'PASS WITH HONORS': 'Admis avec mention',
    'PASS WITH INDULGENCE': 'Admis avec indulgence',
    'Pass with honors': 'Admis avec mention',
    'Passage conditionnel (2 modules à valider N+1 )': 'Passage conditionnel',
    'Passage conditionnel (un module à valider N+1 )': 'Passage conditionnel',

    'admis en année supérieure': 'Admis en année supérieure',
    'Admise avec les félicitations du jury' : 'Admis(e) avec les félicitations du jury',
    'Admise avec les félicitations du jury.': 'Admis(e) avec les félicitations du jury',
    'admis en année supérieure avec indulgence du jury': 'Admis en année supérieure',
    'en attente des resultats -\npour une année universitaire': 'En attente',
    'en attente des resultats-\npour une année universitaire': 'En attente',
    'exchange student from ESTACA\n(1 Module non validé)': 'Étudiant en échange',
    'exchange student from ESTACA (PASS)': 'Étudiant en échange',
    'mobilité': 'En mobilité',
    'réorienté': 'Réorienté',
    'Admis (e)' : 'Admis(e)',
    
}

cdf['Decision jury detailed'] = cdf['Decision jury detailed'].replace(decision_replacements)

In [23]:
Decision_jury = cdf['Decision jury detailed'].value_counts()
Decision_jury.head(50)

Admis(e)                                                         2173
Diplômé(e)                                                        299
Admis en deuxième année                                           263
Admis en année supérieure                                         241
Admis en 6ème année                                                82
Admis en Licence 2                                                 80
Admis avec indulgence                                              56
Admis en deuxième anné                                             56
Ajourné                                                            43
Redoublant(e)                                                      43
Échec                                                              36
Admis avec mention                                                 36
Différé(e)                                                         35
Non Admis                                                          34
Admis en Licence 2 avec reliquats licence 1                        33
Admis en 2ème session mention passable                             22
Admis                                                              21
Admis en 1ère session mention bien                                 21
Admis en 1ère session mention assez bien                           21
Abandon                                                            20
Non admis                                                          19
Admis en 2ème  session mention assez bien                          19
Admis en M2 avec reliquats                                         18
Admis en 2ème session mention assez bien                           17
En mobilité                                                        16
Redoublant                                                         15
Réorienté                                                          15
Admise par compensation                                            13
Non admis. Doit refaire l'atelier du S10 en Automne 2019/2020      11
Admis(e) avec les félicitations du jury                            11
Admis en licence 2 avec félicitations du jury                      10
Non admise                                                         10
Admis en 6ème année avec félicitation du jury                      10
Année Blanche                                                      10
Admis en 2ème  session mention passable                             9
Diplomé(e)avec indulgence du jury                                   9
Admis en M2 par compensation                                        9
Admise  avec les félicitations du jury                              8
Admis en 1ère session mention très bien                             8
Admise  par compensation                                            7
Admis en année supérieure avec indulgence de jury                   6
Admis en M2  (Mobilité à Parme)                                     6
Admis en 1ère  session mention assez bien                           5
Passage conditionnel                                                5
Admis par compensation                                              5
Admis en 2ème session mention passable en simple diplôme            4
Admis en 1ère  session mention bien                                 4
Admis en 1ère session mention passable                              4
En attente                                                          4
Admis avec reliquat S4                                              3
Name: Decision jury detailed, dtype: int64

In [24]:
cdf['Decision jury detailed'] = cdf.apply(lambda row: 'Diplômé(e)' if row['Decision jury detailed'] == 'Admis(e)' and row['Cycle'] == 'Ingénieur' and row['Niveau'] == '5ème année' else row['Decision jury detailed'], axis=1)
cdf['Decision jury detailed'] = cdf.apply(lambda row: 'Diplomé(e)' if row['Decision jury detailed'] == 'Admis(e)' and row['Cycle'] == 'Master' and row['Niveau'] == '2ème année' else row['Decision jury detailed'], axis=1)
cdf['Decision jury detailed'] = cdf.apply(lambda row: 'Diplomé(e)' if row['Decision jury detailed'] == 'Admis(e)' and row['Cycle'] == 'Architecte' and row['Niveau'] == '6ème année' else row['Decision jury detailed'], axis=1)

In [25]:
Decision_jury = cdf['Decision jury detailed'].value_counts()
Decision_jury.head(50)

Admis(e)                                                         1914
Diplômé(e)                                                        331
Admis en deuxième année                                           263
Admis en année supérieure                                         241
Diplomé(e)                                                        227
Admis en 6ème année                                                82
Admis en Licence 2                                                 80
Admis avec indulgence                                              56
Admis en deuxième anné                                             56
Redoublant(e)                                                      43
Ajourné                                                            43
Échec                                                              36
Admis avec mention                                                 36
Différé(e)                                                         35
Non Admis                                                          34
Admis en Licence 2 avec reliquats licence 1                        33
Admis en 2ème session mention passable                             22
Admis en 1ère session mention bien                                 21
Admis                                                              21
Admis en 1ère session mention assez bien                           21
Abandon                                                            20
Non admis                                                          19
Admis en 2ème  session mention assez bien                          19
Admis en M2 avec reliquats                                         18
Admis en 2ème session mention assez bien                           17
En mobilité                                                        16
Redoublant                                                         15
Réorienté                                                          15
Admise par compensation                                            13
Non admis. Doit refaire l'atelier du S10 en Automne 2019/2020      11
Admis(e) avec les félicitations du jury                            11
Admis en licence 2 avec félicitations du jury                      10
Admis en 6ème année avec félicitation du jury                      10
Non admise                                                         10
Année Blanche                                                      10
Admis en 2ème  session mention passable                             9
Diplomé(e)avec indulgence du jury                                   9
Admis en M2 par compensation                                        9
Admise  avec les félicitations du jury                              8
Admis en 1ère session mention très bien                             8
Admise  par compensation                                            7
Admis en année supérieure avec indulgence de jury                   6
Admis en M2  (Mobilité à Parme)                                     6
Passage conditionnel                                                5
Admis en 1ère  session mention assez bien                           5
Admis par compensation                                              5
Admis en 2ème session mention passable en simple diplôme            4
Admis en 1ère session mention passable                              4
Admis en 1ère  session mention bien                                 4
En attente                                                          4
Name: Decision jury detailed, dtype: int64

In [27]:
cdf['Diplômés'] = cdf.apply(lambda row: 'Oui' if row['Decision jury'] == 'Admis' and row['Cycle'] == 'Ingénieur' and row['Niveau'] == '5ème année' else 'Non', axis=1)
cdf['Diplômés'] = cdf.apply(lambda row: 'Oui' if row['Decision jury'] == 'Admis' and row['Cycle'] == 'Master' and row['Niveau'] == '2ème année' else 'Non', axis=1)
cdf['Diplômés'] = cdf.apply(lambda row: 'Oui' if row['Decision jury'] == 'Admis' and row['Cycle'] == 'Architect' and row['Niveau'] == '6ème année' else 'Non', axis=1)
cdf['Diplômés'] = cdf.apply(lambda row: 'Oui' if row['Decision jury'] == 'Admis' and row['Cycle'] == 'Licence' and row['Niveau'] == '3ème année' else 'Non', axis=1)
cdf['Diplômés'] = cdf.apply(lambda row: 'Oui' if row['Decision jury'] == 'Admis' and row['Cycle'] == 'Medecine' and row['Niveau'] == '7ème année' else 'Non', axis=1)
cdf.loc[cdf['Decision jury'] == 'Admis', 'Diplômés'].head(20)

1     Non
3     Non
4     Non
5     Non
6     Non
7     Non
8     Non
9     Non
12    Non
13    Non
14    Non
15    Non
16    Non
17    Non
18    Non
19    Non
20    Non
21    Non
22    Non
23    Non
Name: Diplômés, dtype: object

In [28]:
cdf['Diplômés'] = 'Non'
cdf.loc[(cdf['Decision jury'] == 'Admis') & (cdf['Cycle'] == 'Ingénieur') & (cdf['Niveau'] == '5ème année'), 'Diplômés'] = 'Oui'
cdf.loc[(cdf['Decision jury'] == 'Admis') & (cdf['Cycle'] == 'Master') & (cdf['Niveau'] == '2ème année'), 'Diplômés'] = 'Oui'
cdf.loc[(cdf['Decision jury'] == 'Admis') & (cdf['Cycle'] == 'Architect') & (cdf['Niveau'] == '6ème année'), 'Diplômés'] = 'Oui'
cdf.loc[(cdf['Decision jury'] == 'Admis') & (cdf['Cycle'] == 'Licence') & (cdf['Niveau'] == '3ème année'), 'Diplômés'] = 'Oui'
cdf.loc[(cdf['Decision jury'] == 'Admis') & (cdf['Cycle'] == 'Medecine') & (cdf['Niveau'] == '7ème année'), 'Diplômés'] = 'Oui'
cdf.loc[cdf['Decision jury'] == 'Admis', 'Diplômés'].head(20)

1     Oui
3     Oui
4     Oui
5     Non
6     Oui
7     Oui
8     Non
9     Oui
12    Non
13    Oui
14    Non
15    Non
16    Non
17    Non
18    Non
19    Non
20    Non
21    Oui
22    Non
23    Non
Name: Diplômés, dtype: object

In [29]:
Decision_jury = cdf['Diplômés'].value_counts()
Decision_jury.head()

Non    3304
Oui     703
Name: Diplômés, dtype: int64

In [30]:
Decision_jury = cdf['Ville'].unique()
print(Decision_jury)

[nan 'Rabat' 'RABAT' 'Casablanca' 'Fès' 'TANGER' 'KENITRA' 'Salé'
 'Kénitra' 'El Jadida' 'Taza' 'Kenitra' 'Agadir' 'Sidi Kacem' 'Marrakech'
 'Khémisset' 'Temara' 'Larache' 'Oujda' 'Sala El Jadida' 'Tanger' 'MEKNES'
 'Ouezzane' 'SALE' 'Fkih Ben Salah' 'Tetouan' 'HARHOURA' 'AL HOCEIMA'
 'Khemisset' 'FES' 'MARRAKECH' 'ESSAOUIRA' 'TEMARA' 'Taounate' 'EL JADIDA'
 'SALA AL JADIDA' 'Sala Al Jadida' 'KHEMISSET' 'tanger' 'Meknès' 'Meknes'
 'AGADIR' 'Harhoura' 'Mohammédia' 'Beni Mellal' 'settat' 'MIDELT' 'temara'
 'sala eljadida' 'Mohammedia' 'salé' 'Nador' 'fes' 'tetouan'
 'el kelaa des sraghna' 'casablanca' 'azrou' 'khemisset' 'Settat'
 'MOHAMMEDIA' 'rabat' 'BENI MELLEL' 'Safi' 'el jadida' 'Midelt' 'Sefrou'
 'Alhoceima' 'Abidjan (Côte d´Ivoire)' 'BENI MELLAL' 'CASABLANCA' 'Témara'
 'Fes' 'TETOUAN' 'OUEZZANE' 'Guercif' 'sefrou' 'SOUKEL ARBAA DU GHARB'
 'kenitra' 'Cameroun / batoussam' 'beni mellal' 'Al hoceima' 'Berkane'
 'Berrechid' 'Khénifra' 'fès' 'safi' 'TAOUNATE' 'AL Hoceima'
 'FQIH BEN SALAH' 'Tétouan' 'Sidi Bennour' 'Errachidia' 'KHENIFRA' 'OUJDA'
 'meknes' 'Mohamedia' 'Ben Guerir' 'kénitra' 'Harhoura-Témara'
 'sala el jadida' 'Kasba Tadla' 'Laayoune' 'DEMNATE' 'Tiflet' 'Khouribga'
 'AL-Khobar' 'SOUK EL ARBAA' 'Sidi Slimane' 'Al Hoceïma' 'Taroudant'
 'FKIH BEN SALAH' 'Fkih Ben Saleh' 'Béni mellal' 'AZEMMOUR' 'Asilah'
 'BEJAAD' 'SAFI' 'BENSLIMANE' 'Azrou' 'El hajeb' 'Tinghir' 'Essaouira'
 'oujda' 'Taourirt' 'Chefchaouen' 'Ouarzazate' 'Benguerir' 'Kser el Kebir'
 'Bruxelles' 'Tiznit' 'Cameroun' 'ELJADIDA' 'FNIDEQ' 'KELAA DES SRAGHNA'
 'INEZGANE' 'Sale' 'Sala Aljadida' 'Toulouse' 'Autre' 'Azilal' 'El jadida'
 'Skhirat' 'Oued Zem' 'SALÉ' 'Ksar El Kebir' 'Fés' 'inzegane'
 'SALA EL JADIDA' 'cormery' 'marrakech' 'ksar el kebir' 'KSAR EL KEBIR'
 'Tamesna' 'Ksar El Kbir' 'sale' 'fnideq' 'kelaa des sraghnaa' 'boujdour'
 'bejaad' 'Inezgane' 'Sidi ifni' 'ECHENEVEX' 'Caire Egypt' 'témara'
 'KELAAT M´GOUNA' 'EL Jadida' 'agadir' 'mohammédia' 'ouled teima'
 'el hajeb' 'tiznit' 'khénifra' 'nador' 'tétouan' 'errachidia' 'TAZA'
 'midelt' 'Sidi kacem' 'Sala el jadida' 'Sidi slimane' 'Arfoud'
 'Beni mellal' 'Youssoufia' 'Laâyoune' 'Ouled teima' 'Dakhla'
 'Ksar el kebir' 'Al hoceïma' 'Berréchid' 'Bouznika' 'Azemmour'
 'Chichaoua' 'OUARZAZATE' 'Martil' 'El kelaa des sraghna' 'Inzegane'
 'Fkih ben salah' 'Ouagadougou' 'Souk es sebt' 'Ain atiq' 'Ben ahmed'
 'Libreville' 'tchad' 'AIN BENI MATHAR' 'Sala al jadida' 'Saïdia' 'MDIQ'
 'Assilah' 'SALA ALJADIDA' 'BERRECHID' 'Brazzaville' 'Casabanca' 'Mèknes'
 'ERRACHIDIA' 'Afourer' 'SIDI KACEM' 'SETTAT' 'NADOR' 'Sidi sliman'
 'Fnidaq' 'Mohammedai' 'Ain aouda' 'Ifrane' 'Paris' 'Ouazzane' 'KHOURIBGA'
 'eljadida' 'M´diq' 'Romani' 'Sidi bennour' 'Souk Al arbaa' 'Oued zem'
 'Riyad' 'Khenifra' 'TAMESNA' 'laayoune' 'LARACHE' '10100' 'BERKANE'
 'Oued-zem' 'CASABLNACA' 'SALA JADIDA' 'Es-smara' '11080' 'Afourer AZILAL'
 'Mdiq' 'Benslimane' 'AIT MELLOUL' 'Abidjan' 'Ain Aouda' 'CHICHAOUA'
 'KSAR EL KEBIR LARACHE' 'EL HAJEB' 'Ait melloul' 'Champs-sur-marne'
 'Rouen' 'Jerada' 'Guelmim' 'TINGHIR' 'Bejaad' 'TAnger' 'Dakar' 'Monastir'
 'AZROU' 'al hoceima' 'GONNEBEK' 'OUAZZANE']

In [31]:
city_normalization = {
    'RABAT': 'Rabat',
    'TANGER': 'Tanger',
    'KENITRA': 'Kénitra',
    'Kenitra': 'Kénitra',
    'Khémisset': 'Khémisset',
    'Temara': 'Temara',
    'Larache': 'Larache',
    'Oujda': 'Oujda',
    'MEKNES': 'Meknès',
    'SALE': 'Salé',
    'Fkih Ben Salah': 'Fkih Ben Salah',
    'Tetouan': 'Tétouan',
    'HARHOURA': 'Harhoura',
    'AL HOCEIMA': 'Al Hoceima',
    'Khemisset': 'Khemisset',
    'FES': 'Fès',
    'MARRAKECH': 'Marrakech',
    'ESSAOUIRA': 'Essaouira',
    'TEMARA': 'Temara',
    'EL JADIDA': 'El Jadida',
    'SALA AL JADIDA': 'Sala Al Jadida',
    'Sala Al Jadida': 'Sala Al Jadida',
    'KHEMISSET': 'Khemisset',
    'tanger': 'Tanger',
    'Meknès': 'Meknès',
    'Meknes': 'Meknès',
    'AGADIR': 'Agadir',
    'Mohammédia': 'Mohammedia',
    'settat': 'Settat',
    'MIDELT': 'Midelt',
    'temara': 'Temara',
    'sala eljadida': 'Sala El Jadida',
    'salé': 'Salé',
    'Nador': 'Nador',
    'fes': 'Fès',
    'tetouan': 'Tétouan',
    'el kelaa des sraghna': 'El Kelaa des Sraghna',
    'casablanca': 'Casablanca',
    'azrou': 'Azrou',
    'khemisset': 'Khemisset',
    'Settat': 'Settat',
    'MOHAMMEDIA': 'Mohammedia',
    'rabat': 'Rabat',
    'BENI MELLEL': 'Beni Mellal',
    'Safi': 'Safi',
    'el jadida': 'El Jadida',
    'Midelt': 'Midelt',
    'Sefrou': 'Sefrou',
    'Alhoceima': 'Al Hoceima',
    'Abidjan (Côte d´Ivoire)': 'Abidjan',
    'BENI MELLAL': 'Beni Mellal',
    'CASABLANCA': 'Casablanca',
    'Témara': 'Témara',
    'Fes': 'Fès',
    'TETOUAN': 'Tétouan',
    'OUEZZANE': 'Ouezzane',
    'Guercif': 'Guercif',
    'sefrou': 'Sefrou',
    'SOUKEL ARBAA DU GHARB': 'Souk El Arbaa',
    'kenitra': 'Kénitra',
    'Cameroun / batoussam': 'Cameroun',
    'beni mellal': 'Beni Mellal',
    'Al hoceima': 'Al Hoceima',
    'Berkane': 'Berkane',
    'Berrechid': 'Berrechid',
    'Khénifra': 'Khénifra',
    'fès': 'Fès',
    'safi': 'Safi',
    'TAOUNATE': 'Taounate',
    'AL Hoceima': 'Al Hoceima',
    'FQIH BEN SALAH': 'Fkih Ben Salah',
    'Tétouan': 'Tétouan',
    'Sidi Bennour': 'Sidi Bennour',
    'Errachidia': 'Errachidia',
    'KHENIFRA': 'Khénifra',
    'OUJDA': 'Oujda',
    'meknes': 'Meknès',
    'Mohamedia': 'Mohammedia',
    'Ben Guerir': 'Ben Guerir',
    'kénitra': 'Kénitra',
    'Harhoura-Témara': 'Harhoura-Témara',
    'sala el jadida': 'Sala El Jadida',
    'Kasba Tadla': 'Kasba Tadla',
    'Laayoune': 'Laayoune',
    'DEMNATE': 'Demnate',
    'Tiflet': 'Tiflet',
    'Khouribga': 'Khouribga',
    'AL-Khobar': 'Al-Khobar',
    'SOUK EL ARBAA': 'Souk El Arbaa',
    'Sidi Slimane': 'Sidi Slimane',
    'Al Hoceïma': 'Al Hoceima',
    'Taroudant': 'Taroudant',
    'FKIH BEN SALAH': 'Fkih Ben Salah',
    'Fkih Ben Saleh': 'Fkih Ben Salah',
    'Béni mellal': 'Beni Mellal',
    'AZEMMOUR': 'Azemmour',
    'Asilah': 'Asilah',
    'BEJAAD': 'Bejaad',
    'SAFI': 'Safi',
    'BENSLIMANE': 'Benslimane',
    'Azrou': 'Azrou',
    'El hajeb': 'El Hajeb',
    'Tinghir': 'Tinghir',
    'Essaouira': 'Essaouira',
    'oujda': 'Oujda',
    'Taourirt': 'Taourirt',
    'Chefchaouen': 'Chefchaouen',
    'Ouarzazate': 'Ouarzazate',
    'Benguerir': 'Ben Guerir',
    'Kser el Kebir': 'Ksar El Kebir',
    'Bruxelles': 'Brussels',
    'Tiznit': 'Tiznit',
    'Cameroun': 'Cameroon',
    'ELJADIDA': 'El Jadida',
    'FNIDEQ': 'Fnideq',
    'KELAA DES SRAGHNA': 'Kelaa Des Sraghna',
    'INEZGANE': 'Inezgane',
    'Sale': 'Salé',
    'Sala Aljadida': 'Sala Al Jadida',
    'Toulouse': 'Toulouse',
    'Autre': 'Other',
    'Azilal': 'Azilal',
    'El jadida': 'El Jadida',
    'Skhirat': 'Skhirat',
    'Oued Zem': 'Oued Zem',
    'SALÉ': 'Salé',
    'Ksar El Kebir': 'Ksar El Kebir',
    'Fés': 'Fez',
    'inzegane': 'Inezgane',
    'SALA EL JADIDA': 'Sala El Jadida',
    'cormery': 'Cormery',
    'marrakech': 'Marrakech',
    'ksar el kebir': 'Ksar El Kebir',
    'KSAR EL KEBIR': 'Ksar El Kebir',
    'Tamesna': 'Tamesna',
    'Ksar El Kbir': 'Ksar El Kebir',
    'sale': 'Salé',
    'fnideq': 'Fnideq',
    'kelaa des sraghnaa': 'Kelaa Des Sraghna',
    'boujdour': 'Boujdour',
    'bejaad': 'Bejaad',
    'Inezgane': 'Inezgane',
    'Sidi ifni': 'Sidi Ifni',
    'ECHENEVEX': 'Echenevex',
    'Caire Egypt': 'Cairo, Egypt',
    'témara': 'Témara',
    'KELAAT M´GOUNA': 'Kelaat M\'Gouna',
    'EL Jadida': 'El Jadida',
    'agadir': 'Agadir',
    'mohammédia': 'Mohammedia',
    'ouled teima': 'Ouled Teima',
    'el hajeb': 'El Hajeb',
    'tiznit': 'Tiznit',
    'khénifra': 'Khenifra',
    'nador': 'Nador',
    'tétouan': 'Tetouan',
    'errachidia': 'Errachidia',
    'TAZA': 'Taza',
    'midelt': 'Midelt',
    'Sidi kacem': 'Sidi Kacem',
    'Sala el jadida': 'Sala El Jadida',
    'Sidi slimane': 'Sidi Slimane',
    'Arfoud': 'Arfoud',
    'Beni mellal': 'Beni Mellal',
    'Youssoufia': 'Youssoufia',
    'Laâyoune': 'Laayoune',
    'Ouled teima': 'Ouled Teima',
    'Dakhla': 'Dakhla',
    'Ksar el kebir': 'Ksar El Kebir',
    'Al hoceïma': 'Al Hoceima',
    'Berréchid': 'Berrechid',
    'Bouznika': 'Bouznika',
    'Azemmour': 'Azemmour',
    'Chichaoua': 'Chichaoua',
    'OUARZAZATE': 'Ouarzazate',
    'Martil': 'Martil',
    'El kelaa des sraghna': 'El Kelaa Des Sraghna',
    'Inzegane': 'Inezgane',
    'Fkih ben salah': 'Fkih Ben Salah',
    'Ouagadougou': 'Ouagadougou',
    'Souk es sebt': 'Souk Es Sebt',
    'Ain atiq': 'Ain Atiq',
    'Ben ahmed': 'Ben Ahmed',
    'Libreville': 'Libreville',
    'tchad': 'Chad',
    'AIN BENI MATHAR': 'Ain Beni Mathar',
    'Sala al jadida': 'Sala Al Jadida',
    'Saïdia': 'Saïdia',
    'MDIQ': 'M\'Diq',
    'Assilah': 'Assilah',
    'SALA ALJADIDA': 'Sala Al Jadida',
    'BERRECHID': 'Berrechid',
    'Brazzaville': 'Brazzaville',
    'Casabanca': 'Casablanca',
    'Mèknes': 'Meknes',
    'ERRACHIDIA': 'Errachidia',
    'Afourer': 'Afourer',
    'SIDI KACEM': 'Sidi Kacem',
    'SETTAT': 'Settat',
    'NADOR': 'Nador',
    'Sidi sliman': 'Sidi Slimane',
    'Fnidaq': 'Fnideq',
    'Mohammedai': 'Mohammedia',
    'Ain aouda': 'Ain Aouda',
    'Ifrane': 'Ifrane',
    'Paris': 'Paris',
    'Ouazzane': 'Ouazzane',
    'KHOURIBGA': 'Khouribga',
    'eljadida': 'El Jadida',
    'M´diq': 'M\'Diq',
    'Romani': 'Romani',
    'Sidi bennour': 'Sidi Bennour',
    'Souk Al arbaa': 'Souk Al Arbaa',
    'Oued zem': 'Oued Zem',
    'Riyad': 'Riyadh',
    'Khenifra': 'Khenifra',
    'TAMESNA': 'Tamesna',
    'laayoune': 'Laayoune',
    'LARACHE': 'Larache',
    '10100': '10100',
    'BERKANE': 'Berkane',
    'Oued-zem': 'Oued Zem',
    'CASABLNACA': 'Casablanca',
    'SALA JADIDA': 'Sala Al Jadida',
    'Es-smara': 'Es-Semara',
    '11080': '11080',
    'Afourer AZILAL': 'Afourer, Azilal',
    'Mdiq': 'M\'Diq',
    'Benslimane': 'Benslimane',
    'AIT MELLOUL': 'Ait Melloul',
    'Abidjan': 'Abidjan',
    'Ain Aouda': 'Ain Aouda',
    'CHICHAOUA': 'Chichaoua',
    'KSAR EL KEBIR LARACHE': 'Ksar El Kebir, Larache',
    'EL HAJEB': 'El Hajeb',
    'Ait melloul': 'Ait Melloul',
    'Champs-sur-marne': 'Champs-sur-Marne',
    'Rouen': 'Rouen',
    'Jerada': 'Jerada',
    'Guelmim': 'Guelmim',
    'TINGHIR': 'Tinghir',
    'Bejaad': 'Bejaad',
    'TAnger': 'Tangier',
    'Dakar': 'Dakar',
    'Monastir': 'Monastir',
    'AZROU': 'Azrou',
    'al hoceima': 'Al Hoceima',
    'GONNEBEK': 'Gonnebek',
    'OUAZZANE': 'Ouazzane',
    'Khemisset':'Khémisset'
}

cdf['Ville'] = cdf['Ville'].replace(city_normalization)

city_normalization = cdf['Ville'].value_counts()
city_normalization.head(60)

Rabat                   1055
Salé                     341
Temara                   259
Kénitra                  251
Casablanca               245
Tanger                   153
Marrakech                153
Meknès                   150
Fès                      131
Tétouan                  130
Agadir                   100
Sala El Jadida            95
El Jadida                 80
Oujda                     63
Mohammedia                52
Beni Mellal               47
Settat                    26
Nador                     26
Taza                      24
Safi                      24
Larache                   22
Laayoune                  22
Sala Al Jadida            22
Khouribga                 19
Berkane                   18
Khémisset                 17
Témara                    17
Midelt                    16
Ksar El Kebir             13
Errachidia                11
Sefrou                    11
Al Hoceima                11
Tiflet                    11
Ouezzane                  10
Fkih Ben Salah            10
Essaouira                  9
Sidi Kacem                 9
Tiznit                     8
Azrou                      8
Chefchaouen                8
Sidi Slimane               8
Khemisset                  7
Tamesna                    7
Khénifra                   7
Berrechid                  7
Guercif                    6
Ouarzazate                 5
El Kelaa Des Sraghna       5
Skhirat                    5
Taounate                   4
El Hajeb                   4
Abidjan                    4
Bejaad                     4
Ain Atiq                   4
Inezgane                   4
Dakhla                     4
Oued Zem                   4
Ben Guerir                 4
Chichaoua                  3
Fnideq                     3
Name: Ville, dtype: int64

In [32]:
cdf['Nb absences'] = cdf['Nb absences'].fillna(0)
cdf['Nb absences'].value_counts()

0.0      1854
2.0        97
6.0        90
7.0        82
13.0       75
         ...
116.0       1
127.0       1
130.0       1
70.0        1
118.0       1
Name: Nb absences, Length: 144, dtype: int64

In [33]:
cdf['Boursier'] = cdf['Boursier'].fillna('Non')

In [34]:
cdf.isnull().sum()

N°                          0
Nom étudiant                1
Niveau                      1
Cycle                       0
Filière                     0
Etablissement               0
College                     0
Moyenne S1                 71
Moyenne S2                 59
Moyenne                    54
Decision jury detailed      0
Tranche                   281
Sexe                        0
Nationalité                73
Date de naissance          69
Mention bac               132
Moyenne bac               896
Année bac                  68
Option bac                 90
Série bac                  90
Domaine bac                90
Niveau accès UIR          151
Date inscription UIR       26
Boursier                    0
Decision jury               0
CSP Père                  873
CSP Mère                  884
Lycée origine             333
Système d'études          333
Région                    134
Ville                     134
Nb absences                 0
Diplômés                    0
dtype: int64

In [35]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   N°                      4007 non-null   int64
 1   Nom étudiant            4006 non-null   object
 2   Niveau                  4006 non-null   object
 3   Cycle                   4007 non-null   object
 4   Filière                 4007 non-null   object
 5   Etablissement           4007 non-null   object
 6   College                 4007 non-null   object
 7   Moyenne S1              3936 non-null   object
 8   Moyenne S2              3948 non-null   object
 9   Moyenne                 3953 non-null   object
 10  Decision jury detailed  4007 non-null   object
 11  Tranche                 3726 non-null   object
 12  Sexe                    4007 non-null   object
 13  Nationalité             3934 non-null   object
 14  Date de naissance       3938 non-null   object
 15  Mention bac             3875 non-null   object
 16  Moyenne bac             3111 non-null   object
 17  Année bac               3939 non-null   object
 18  Option bac              3917 non-null   object
 19  Série bac               3917 non-null   object
 20  Domaine bac             3917 non-null   object
 21  Niveau accès UIR        3856 non-null   object
 22  Date inscription UIR    3981 non-null   object
 23  Boursier                4007 non-null   object
 24  Decision jury           4007 non-null   object
 25  CSP Père                3134 non-null   object
 26  CSP Mère                3123 non-null   object
 27  Lycée origine           3674 non-null   object
 28  Système d'études        3674 non-null   object
 29  Région                  3873 non-null   object
 30  Ville                   3873 non-null   object
 31  Nb absences             4007 non-null   float64
 32  Diplômés                4007 non-null   object
dtypes: float64(1), int64(1), object(31)
memory usage: 1.0+ MB

In [36]:
def convert_to_float(x):
    if x == 'ABS' or x == 'Soutenance reportée':
        return 0.0
    else:
        return float(x)

# Appliquer la fonction de conversion aux colonnes de moyennes
cdf['Moyenne S1'] = cdf['Moyenne S1'].apply(convert_to_float)
cdf['Moyenne S2'] = cdf['Moyenne S2'].apply(convert_to_float)
cdf['Moyenne'] = cdf['Moyenne'].apply(convert_to_float)

In [37]:
import re
cdf['Moyenne bac'] = cdf['Moyenne bac'].str.replace(r'[^0-9\.]', '.', regex=True)
cdf['Moyenne bac'] = cdf['Moyenne bac'].astype(float)

In [39]:
cdf['Date de naissance'] = pd.to_datetime(cdf['Date de naissance'])

In [40]:
cdf['Nb absences'] = cdf['Nb absences'].astype(int)

In [41]:

cdf.dtypes

N°                                 int64
Nom étudiant                      object
Niveau                            object
Cycle                             object
Filière                           object
Etablissement                     object
College                           object
Moyenne S1                       float64
Moyenne S2                       float64
Moyenne                          float64
Decision jury detailed            object
Tranche                           object
Sexe                              object
Nationalité                       object
Date de naissance         datetime64[ns]
Mention bac                       object
Moyenne bac                      float64
Année bac                         object
Option bac                        object
Série bac                         object
Domaine bac                       object
Niveau accès UIR                  object
Date inscription UIR              object
Boursier                          object
Decision jury                     object
CSP Père                          object
CSP Mère                          object
Lycée origine                     object
Système d'études                  object
Région                            object
Ville                             object
Nb absences                        int32
Diplômés                          object
dtype: object

In [44]:
cdf.to_csv('UIR_DATA_WHEREHOUSE.csv', index=False)